<footer class="footer">
	<div class="footer__wrapper">
		<div class="footer__item">
			<h3 class="footer__title">Groove Flora</h3>
			<div class="footer__text">
				<p>Цветочная & Ботаническая студия</p>
				<p>Балеал, Португалия</p>
			</div>
		</div>
		<div class="footer__item">
			<h3 class="footer__title">Связаться <br>с Groove Flora</h3>
			<div class="footer__text">
				<p>Общайтесь с нами по почте grooveflora@mail.com</p>
				<p>Связаться с нами в
					<a class="contacts__link" rel="noopener noreferrer" aria-label="Посетить профиль студии"
						href="#">@groove_flora</a>
				</p>
			</div>
		</div>
	</div>
</footer>