<header class="header">
	<div class="container">
		<button class="header__menu-btn">☰</button>
		<nav class="header__menu">
			<ul class="header__menu-list">
				<li class="header__menu-item">
					<a class="header__menu-link" rel="noopener noreferrer" aria-label="Вернуться в начало главной страницы"
						href="index.html">
						Дом
					</a>
				</li>
				<li class="header__menu-item">
					<a class="header__menu-link" rel="noopener noreferrer" aria-label="Перейти к описанию студии" href="index.html#about">
						Услуги
					</a>
				</li>
				<li class="header__menu-item">
					<a class="header__menu-link" target="_blank" rel="noopener noreferrer"
						aria-label="Посетить страницу с услугами" href="projects.html">
						Проекты
					</a>
				</li>
				<li class="header__menu-item">
					<a class="header__menu-link" rel="noopener noreferrer" aria-label="Перейти к контактной информации"
						href="index.html#contacts">
						Контакты
					</a>
				</li>
			</ul>
		</nav>

		<button id="scrollToTop" class="scroll-to-top">
			<img src="images/arrow-up.png" loading="lazy" width="26px" height="20px" alt="Переместиться в начало страницы">
		</button>
	</div>
</header>